
<div class="container-fluid back-image">
  <nav class="navbar " role="navigation">
   <div class="container">
       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <p></p>
      <br/>
        <p style="font-size: 50px; color: violet;"> My Recipes </p>
        <ul class="nav navbar-nav nav-pills navbar-right back-special">
          <li ><a href="index.html"><b>Home</b></a></li>
          <li ><a href="index.html#/about"><b>About</b></a></li>
          <li ><a href="index.html#/contact"><b>Contact</b></a></li>
        </ul>         
      </div>
   </div> 
  </nav>
</div>